{% assign product = all_products[section.settings.product] %}

<div class="featured-product-section">
  <div class="container">
    {% if product != blank %}
      <div class="row">
        <div class="col-md-6">
          <div class="featured-image">
            <img src="{{ product.featured_image | image_url:width:"500"}}" alt="{{ product.title | escape }}">
          </div>
        </div>
        <div class="col-md-6">
          {% form 'product', product %}
            <input type="hidden" name="id" value="{{ product.first_available_variant.id }}">
            {% for block in section.blocks %}
              {% case block.type %}
                {% when 'title' %}
                  <h2 class="title">{{ product.title | escape }}</h2>
                {% when 'price' %}
                  <h3 class="price my-3">{{ product.price | money }}</h3>
                {% when 'description' %}
                  <div class="description">
                    {{ product.description }}
                  </div>
                {% when 'variants' %}
                  <div class="product-variants">
                    <select name="id" class="form-control">
                      {% for variants in product.variants %}
                        <option value="{{ variants.id }}">{{ variants.title }}</option>
                      {% endfor %}
                    </select>
                  </div>
                {% when 'quantity' %}
                  <div class="quantity-selector my-4">
                    <label>Quantity:</label>
                    <input type="number" class="form-control" name="quantity" value="1" min="1">
                  </div>
                {% when 'addToCart' %}
                  <div class="actions">
                    <button type="submit" name="add" class="btn btn-success my-3">Add to Cart</button>
                  </div>
              {% endcase %}
            {% endfor %}
          {% endform %}
        </div>
      </div>
    {% else %}
      <div class="text-center">
        <h4>Please, select a product</h4>
      </div>
    {% endif %}
  </div>
</div>

{% schema %}
{ "name": "featured product",
  "settings": [
  { "type": "product",
    "id":"product",
    "label":"Product"
  }
  ],
  "blocks": [
    {
      "type": "title",
      "name": "Product Title",
      "limit": 1
    },
     {
      "type": "price",
      "name": "Product Price",
      "limit": 1
    },
     {
      "type": "description",
      "name": "Product Description",
      "limit": 1
    },
    {
      "type": "variants",
      "name": "variants",
      "limit": 1
    },
     {
      "type": "quantity",
      "name": "Quantity Selector",
      "limit": 1
    },
     {
      "type": "addToCart",
      "name": "Add to cart button",
      "limit": 1
    }
  ],
  "presets": [
    {
      "name": "Featured Product",
      "category": "product",
      "blocks": [
        {
          "type": "title"
        },
        {
          "type": "price"
        },
        {
          "type": "variants"
        },
        {
          "type": "quantity"
        },
        {
          "type": "addToCart"
        }
      ]
    }
  ]

}
{% endschema %}
