{% comment %}
receives-
article: article object
column: variable, bootstrap column (optional)
{% endcomment %}
{% capture date %}
  <p>{{ article.published_at | time_tag: format: 'date' }}</p>
{% endcapture %}
<div class="{{ column | default: 'col-md-4' }} my-3">
  <div class="card product-card">
    <div class="card-body background-color">
      <a href="{{ article.url }}">
        {% if article.image != blank %}
            <img src="{{ article.image | image_url }}" width="100%" alt="{{ article.title }}">
        {% else %}
          {{ 'image' | placeholder_svg_tag }}
        {% endif %}
      </a>
    </div>

    <!-- Footer -->
    <div class="card-footer">
      <p>{{ date }}</p>
      <p>Author: {{ article.author }}</p>
      <a href="{{ article.url }}">{{ article.title }}</a>
    </div>
    <div class="content-summary py-3">
      {% if article.excerpt != blank %}
        {{ article.excerpt }}
      {% else %}
        {{ article.content | strip_html | truncatewords: 20 }}
      {% endif %}
    </div>
    <div class="action">
      <a href="{{ article.url }}" class="btn btn-primary w-100">Read More...</a>
    </div>
  </div>
</div>
