

<div class="{{ culumn | default: 'col-md-3'}} my-3">
  <div class="card product-card">
    <div class="card-body background-color">
      <a href="{{ product.url }}">
        {% if product.featured_image != blank %}
            <img
            src="{{ product.featured_image | image_url }}"
            width="100%" class="{% if product.images.size > 1 and show_second_image %}featured_image{% endif %}"
            alt="{{ product.title }}"
          >
            {% if product.images.size > 1 and show_second_image %}
              <img src="{{ product.images[1] | image_url }}" width="100%" class="second_image_show" alt="{{ product.title }}">
              {% endif %}
            {% else %}
          {{ 'image' | placeholder_svg_tag }}
        {% endif %}
      </a>
    </div>
  
      <div class="card-footer">
      {% render 'price', product:product %}
      {% if show_vendor %}
      <p class="text-uppercase vendor">{{ product.vendor }}</p>
      {% endif %}
      <a href="{{ product.url }}">{{ product.title }}</a>
    </div>
    <div class="action">
      <a href="{{ product.url }}" class="btn btn-primary w-100">View Details</a>
    </div>
  </div>
</div>

